@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {background: url('https://i.imgur.com/qyejWYb.jpeg') top center fixed;background-size: 100%;font-family: Indie Flower;color: black;}


.container.main {
	background: #54c43d;
	border: none;
	box-shadow: none;
	border-radius: 0px
}
.col-md-9 {
	background: none;
        border-right: none
}
