@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

body {background: url('https://i.imgur.com/9FxPwoi.jpeg') top center fixed;background-size: 100%;font-family: Crafty Girl;color: black;}

--Rightside

.container.main {
	background: #DDBFA8;
	border: none;
	box-shadow: none;
	border-radius: 0px
}
.col-md-9 {
	background: none;
        border-right: none
}

.topbar { 

        background-color: #59391E; 
	color: #C3DAE8 !important;
    }

.navbar { 

        background-color: #A16E47; 
	
    }