@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand');
body {
background: url('https://i.imgur.com/Rd3tKT5.jpg') center center fixed;
background-size: 100%;
font-weight: normal !important;
font-family: 'Montserrat';
color: #fff;
}
